{% extends "base.html" %}

{% block head %}
<style>
    .tags-sidebar {
        padding-top: 10px;
    }
    .arrow {
        position: relative;
        bottom: 1px;
    }

    .entry-tag-title {
        font-size: 22px;
    }
    .entry-blurb {
        font-weight: 400;
    }
</style>
{% endblock %}


{% block header %}
<div class='offset4 span8'>
    <h6>{{ tag }}</h6>
</div>
{% endblock %}


{% block content %}

{# on small screens, show the taglist below the content
#}
<div class='hidden-phone'>
    {% from 'macros.html' import tag_sidebar with context %}
    {{ tag_sidebar(tags, tag) }}
</div>


<div class='span8'>
    {% for entry in entries %}
    <a href='../{{ entry.slug }}'>
        <blockquote>
            <h4 class='entry-tag-title'> {{ entry.config.title }}</h4>
            <p class='entry-blurb'>{{ entry.config.blurb }}</p>
        </blockquote>
    </a>
    {% endfor %}
</div>


{# on small screens, show the taglist below the content
#}
<div class='visible-phone'>
    {% from 'macros.html' import tag_bottombar with context %}
    {{ tag_bottombar(tags, tag) }}
</div>
{% endblock %}
